/* Root */

* {
    margin: 0;
    padding: 0;
}

/* Upper nav bar */

#navbar {
    width: auto;
    padding: 15px 20px 35px;
    gap: 5px;
}

#navbar ul li {
    display: inline;
}

nav#navbar ul li a:link,
nav#navbar ul li a:visited {
    text-decoration: none;
    padding: 10px;
    color: black;
}

body nav ul li {
    float: left;
}

body nav ul.account {
    float: right;
}

/* Main */

#container {
    padding-top: 250px;
    margin: 0 auto;
    text-align: center;
}

#logo {
    width: 300px;
    height: 100px;
    background: url("https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png");
    background-size: 100%;
    margin: 0 auto;
}

.searchcontainer {
    margin: 25px auto;
    padding: 7px;
    border: solid 1px #dfe1e5;
    border-radius: 24px;
    width: 566px;
}

.searchicon {
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

input[type="text"] {
    width: 476px;
    height: 25px;
    /* font-size: 16px; */
    border: none;
    outline: none;
}

input[type="text"]:hover {
    border-color: #aaa;
}

input[type="submit"] {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

input[type="submit"]:hover {
    cursor: pointer;
}

.onemic {
    height: 24px;
    width: 24px;
    vertical-align: middle;
}
.cameraicon {
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

/* Footer section */

footer {
    background: #f2f2f2;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer nav ul li a:link,
footer nav ul li a:visited {
    text-decoration: none;
    padding: 10px;
    color: #70757a;
}

footer nav ul li a:hover {
    text-decoration: underline;
}
.rightlinks:hover {
    text-decoration: underline;
}

footer nav {
    padding: 15px 20px 35px;
}

.location {
    background: #f2f2f2;
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    color: #70757a;
}

footer nav ul li {
    display: inline;
    text-decoration: none;
}

footer nav ul {
    float: left;
}

footer nav ul.rightlinks {
    float: right;
}
