* {
    margin: 0;
    padding: 0;
}

/* Upper nav bar */

#navbar {
    width: 99%;
}

#navbar ul li {
    display: inline;
}

body nav ul li {
    float: left;
}

body nav ul.account {
    float: right;
}

/* Main */

#container {
    padding-top: 250px;
    width: 580px;
    margin: 0 auto;
    text-align: center;
}

#logo {
    width: 300px;
    height: 100px;
    background: url("https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png");
    background-size: 100%;
    margin: 0 auto;
}

input[type="text"] {
    width: 566px;
    height: 25px;
    padding: 7px;
    margin: 25px 0 18px;
    border: solid 1px #dfe1e5;
    border-radius: 24px;
    font-size: 16px;
}

.onemic {
    height: 24px;
    width: 24px;
    vertical-align: middle;
}
  
input[type="text"]:hover {
    border-color: #aaa;
}

input[type="submit"] {
    background: #f8f9fa;
    color: gray;
    border: solid 1px #f8f9fa;
    padding: 5px;
    height: 36px;
    font-size: 11px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 0 5px;
    border-radius: 4px;
}

input[type="submit"]:hover {
    cursor: pointer;
}

/* Footer section */

footer {
    background: #f2f2f2;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer nav ul li a:link,
footer nav ul li a:visited {
    text-decoration: none;
    padding: 10px;
}

footer nav {
    /* padding: 20px; doesn't seem to be in the middle */
    padding: 15px 20px 35px;
}

.location {
    background: #f2f2f2;
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
}

footer nav ul li {
    display: inline;
}

footer nav ul {
    float: left;
}

footer nav ul.rightlinks {
    float: right;
}

