#container {
    padding-top: 150px;
    width: 580px;
    margin: 0 auto;
    text-align: center;
}

#logo {
    width: 300px;
    height: 100px;
    background: url("https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png");
    background-size: 100%;
    margin: 0 auto;
}

#navbar {
    text-align: right;
    width: 99%;
}

#navbar ul li {
    display: inline;
}

/* Footer section */

footer {
    background: #f2f2f2;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

footer nav ul li {
    display: inline;
}

footer nav ul {
    float: left;
}
  
footer nav ul.rightlinks {
    float: right;
}